<h3 class="list-header" {{action 'toggleListDetail'}}>{{list.title}}</h3>
<ol>
  {{#each list.items as |item|}}
    {{listr-list/item item=item
                      toggleDone='toggleItemDone'
                      delete='deleteItem'}}
  {{/each}}
</ol>
<form {{action 'createItem' on='submit'}}>
  {{input placeholder='NewItem'
          value=newItem.content}}

  <button class='btn btn-xs' type='submit'>CREATE ITEM</button>
</form>
